// variables

// colors

$main-color: #161616;
$grey-color: #808080;

// fonts

$font-x-small: 12px;
$font-small: 13px;
$font-medium: 14px;
$font-medium-2: 15px;
$font-big: 16px;
$font-large: 17px;

// other variables

$max: 'max-width: 768px';
$min--mobile: 'min-width: 768px';
$min--desk: 'min-width: 1024px';